@model X.PagedList.IPagedList<DevXuongMoc.Models.Category>
@using X.PagedList.Mvc.Core;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Admin.cshtml";
}

<h1 class="text-center my-2">Quản lý danh mục</h1>

<div class="container my-1">
    <form action="" method="get" class="d-flex align-items-center mb-4">
        <div class="form-group me-2 mt-3">
            <label class="visually-hidden" for="keyword">Tìm theo tên</label>
            <input type="text" class="form-control" name="name" id="keyword" placeholder="Nhập tên cần tìm" />
        </div>
        <button type="submit" class="btn btn-primary me-2">
            <i class="fas fa-search"></i>
        </button>
        <a asp-action="Create" class="btn btn-success">
            <i class="fas fa-plus"></i> Thêm mới
        </a>
    </form>

    <table class="table table-bordered  table-hover">
        <thead class="thead-dark">
        <tr>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().Icon)</th>
                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().MetaKeyword)</th>
             
          
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>
                    <img src="@item.Icon" alt="@item.Slug" class="img-thumbnail" style="width:50px; height:50px;" />
                </td>
                    <td style ="width:200px">@Html.DisplayFor(modelItem => item.MetaKeyword)</td>
               
              
             
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">
                        Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">
                        Chi tiết
                    </a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger" onclick="return confirmDelete(@item.Id);">
                            <i class="fas fa-trash"></i> Xóa
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
    <div class="d-flex justify-content-center">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new PagedListRenderOptions
   {
       LiElementClasses = new string[] { "page-item" },
       PageClasses = new string[] { "page-link" }
   })
    </div>
</div>
<script>
    function confirmDelete(id) {
        if (confirm('Bạn có chắc chắn muốn xóa?')) {
            // Nếu nhấn OK, thực hiện xóa
            window.location.href = '/CategoriesController/Delete/' + id;
            return true; // Cho phép thực hiện hành động
        } else {
            return false; // Không thực hiện hành động
        }
    }
</script>